body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
.baseContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.baseContainerHeight {
  height: 92.6vh;
}
.baseHeight {
  height: 90vh;
}
.baseBorder {
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 98vw;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 87.6vh;
}
.decoration {
  border-radius: 3px 0 0 3px;
  width: 5px;
  height: 20px;
  border: 1px solid #0575f3;
  background-color: #0575f3;
  margin-right: 10px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 85vw;
}
